$cor_primaria: rgb(24, 25, 26); //background body
$cor_segundaria: rgb(36, 37, 38); // nav background
$cor_terciaria:  rgb(58, 59, 60); //nav border, input-search background
$cor_terciaria_hover: rgb(78, 79, 80); 
$color_5: rgb(38, 57, 81);


$scrollbar_color: rgb(101, 103, 104);

$primary_text_color: #E4E6EB;
$secondary_text_color: rgb(176, 179, 184);